{% extends "base.html" %}
{% block content %}
    <h2>Hola mundo desde Django</h2>
    {{ request.user}}<br>
    {{ mitexto }}
    {{ minumero }}
    <ul>
        {% for miitem in milista %}
            <li>
                {{miitem}}_
                {% if miitem > 3 %}
                    numero mayor de 3
                {% elif miitem <= 3 %}
                    el numero es menor que 3
                {% endif %}
                <br>
                {{forloop.counter}}
            </li>
        {% endfor %}
    </ul>
{% endblock %}